.devices-filter {
  color: white;
  padding: 0 1rem;
}

.devices-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  background-color: #7f8c8d;
  border-radius: 1rem;
}

.devices-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.devices-filter input {
  padding: 0.5rem 0.5rem; 
  border-radius: 6px;
  width: 23rem;
}

.devices-filter button {
  width: 7rem;
  border-radius: 12px;
  cursor: pointer;
  padding: 1rem 2rem;
}